# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/apps/backend/venv/
/apps/frontend_web/.next/
# testing
/coverage
.turbo
# next.js
/.next/
/out/
/docs
# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.next*
.env.docker.example


# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Pipenv virtualenv (if created in project folder)
.venv/

# Django stuff
*.sqlite3
/media/
*.log
/staticfiles/

# Environment variables
.env
.env.local

# Pytest / coverage
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/

/lib/generated/prisma
/apps/frontend_web/.next
/apps/frontend_web/.next
