[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
markdown = "*"
django-filter = "*"
psycopg2-binary = "*"
python-decouple = "*"
python-dotenv = "*"
psycopg2 = "*"
black = "*"
supabase = "*"
django-allauth = "*"
requests = "*"
django-ninja = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.13"
